In [1]:
pip install kaggle

Collecting kaggle
  Downloading kaggle-1.6.17.tar.gz (82 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: six>=1.10 in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (2024.8.30)
Requirement already satisfied: python-dateutil in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (2.32.3)
Requirement already satisfied: tqdm in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (4.66.5)
Requirement already satisfied: python-slugify in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (2.2.3)
Requirement already satisfied: bleach in c:\users\sathyajith\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\sathyajith\anaconda3\lib\site-packages (from bleach->kaggle) (24.1)
Requirement already satisfied: webencodings in c:\users\sathyajith\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\sathyajith\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sathyajith\anaconda3\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sathyajith\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\sathyajith\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Building wheels for collected packages: kaggle
  Building wheel for kaggle (setup.py): started
  Building wheel for kaggle (setup.py): finished with status 'done'
  Created wheel for kaggle: filename=kaggle-1.6.17-py3-none-any.whl size=105797 sha256=53ff0b149817264517b0fbe36e7240ba0f9bbfd9693dd87b7b07e379a32862d4
  Stored in directory: c:\users\sathyajith\appdata\local\pip\cache\wheels\46\d2\26\84d0a1acdb9c6baccf7d28cf06962ec80529fe1ad938489983
Successfully built kaggle
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17
Note: you may need to restart the kernel to use updated packages.

# Downloading Dataset from Kaggle

In [3]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\Sathyajith

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 255kB/s]
100%|##########| 200k/200k [00:00<00:00, 255kB/s]

# Unzipping and importing data to pandas dataframe

In [1]:
import pandas as pd

df = pd.read_csv("orders.csv.zip",compression = 'zip',encoding='utf-8',header=0)
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

# Checking and treating missing values

In [13]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           1
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [19]:
df.dropna(inplace=True)

In [21]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

In [25]:
df.isnull().sum()

Order Id            0
Order Date          0
Ship Mode           0
Segment             0
Country             0
City                0
State               0
Postal Code         0
Region              0
Category            0
Sub Category        0
Product Id          0
cost price          0
List Price          0
Quantity            0
Discount Percent    0
dtype: int64

# Renaming the coulmns as  per the given standard

In [29]:
df = df.rename(columns={
    'Order Id' : "Order_Id",
    'Order Date' :"Order_Date",
    'Ship Mode' : "Ship_Mode",
    'Postal Code' : "Postal_Code",
    'Sub Category' : "Sub_Category",
    'Product Id' : "Product_Id",
    'cost price' : "Cost_Price",
    'List Price' : "List_Price",
    'Discount Percent' : "Discount_Percent"})

In [31]:
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Cost_Price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

# Removing leading and trailing spaces

In [37]:
df = df.apply(lambda x : x.str.strip() if x.dtype == "object" else x)
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Cost_Price,List_Price,Quantity,Discount_Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3

# Adding three extra columns called Discount, Sale Price and Profit. Computing values for these 3 columns based on the standard formulas

In [51]:
df['Discount'] = df['List_Price'] * (df['Discount_Percent']/100)
df['Sale_Price'] = df['List_Price'] - df['Discount']
df['Profit'] = df['Sale_Price'] - df['Cost_Price']
df

,Order_Id,Order_Date,Ship_Mode,Segment,Country,City,State,Postal_Code,Region,Category,Sub_Category,Product_Id,Cost_Price,List_Price,Quantity,Discount_Percent,Discount,Sale_Price,Profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

# Splitting the data frame into two data frames called df_orders and df_products

In [77]:
df_orders = df.filter(items=['Order_Id','Order_Date','Ship_Mode','Segment','Country','City','State','Postal_Code','Region'])

df_products = df.filter(items=['Product_Id','Category','Sub_Category','Cost_Price','List_Price','Quantity','Discount_Percent','Discount','Sale_Price','Profit','Order_Id'])

In [87]:
df_products

,Product_Id,Category,Sub_Category,Cost_Price,List_Price,Quantity,Discount_Percent,Discount,Sale_Price,Profit,Order_Id
0,FUR-BO-10001798,Furniture,Bookcases,240,260,2,2,5.2,254.8,14.8,1
1,FUR-CH-10000454,Furniture,Chairs,600,730,3,3,21.9,708.1,108.1,2
2,OFF-LA-10000240,Office Supplies,Labels,10,10,2,5,0.5,9.5,-0.5,3
3,FUR-TA-10000577,Furniture,Tables,780,960,5,2,19.2,940.8,160.8,4
4,OFF-ST-10000760,Office Supplies,Storage,20,20,2,5,1.0,19.0,-1.0,5
...,...,...,...,...,...,...,...,...,...,...,...
9989,FUR-FU-10001889,Furniture,Furnishings,30,30,3,4,1.2,28.8,-1.2,9990
9990,FUR-FU-10000747,Furniture,Furnishings,70,90,2,4,3.6,86.4,16.4,9991
9991,TEC-PH-10003645,Technology,Phones,220,260,2,2,5.2,254.8,34.8,9992
9992,OFF-PA-10004041,Office Supplies,Paper,30,30,4,3,0.9,29.1,-0.9,9993
9993,OFF-AP-10002684,Office Supplies,Appliances,210,240,2,3,7.2,232.8,22.8,9994

In [91]:
duplicates = df_products[df_products['Product_Id'].duplicated(keep=False)]

print(duplicates)

           Product_Id         Category Sub_Category  Cost_Price  List_Price  \
0     FUR-BO-10001798        Furniture    Bookcases         240         260
1     FUR-CH-10000454        Furniture       Chairs         600         730
2     OFF-LA-10000240  Office Supplies       Labels          10          10
3     FUR-TA-10000577        Furniture       Tables         780         960
4     OFF-ST-10000760  Office Supplies      Storage          20          20
...               ...              ...          ...         ...         ...
9989  FUR-FU-10001889        Furniture  Furnishings          30          30
9990  FUR-FU-10000747        Furniture  Furnishings          70          90
9991  TEC-PH-10003645       Technology       Phones         220         260
9992  OFF-PA-10004041  Office Supplies        Paper          30          30
9993  OFF-AP-10002684  Office Supplies   Appliances         210         240

      Quantity  Discount_Percent  Discount  Sale_Price  Profit  Order_Id
0            2                 2       5.2       254.8    14.8         1
1            3                 3      21.9       708.1   108.1         2
2            2                 5       0.5         9.5    -0.5         3
3            5                 2      19.2       940.8   160.8         4
4            2                 5       1.0        19.0    -1.0         5
...        ...               ...       ...         ...     ...       ...
9989         3                 4       1.2        28.8    -1.2      9990
9990         2                 4       3.6        86.4    16.4      9991
9991         2                 2       5.2       254.8    34.8      9992
9992         4                 3       0.9        29.1    -0.9      9993
9993         2                 3       7.2       232.8    22.8      9994

[9902 rows x 11 columns]

# Using sqlalchemy package to push the data frame values into mysql database

In [85]:
pip install sqlalchemy mysql-connector-python

Requirement already satisfied: sqlalchemy in c:\users\sathyajith\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: mysql-connector-python in c:\users\sathyajith\anaconda3\lib\site-packages (9.1.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sathyajith\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [95]:
from sqlalchemy import create_engine
username = "root"
password = "sathya"
host = "localhost"
database = "Retail_Order"

connection_string = f'mysql+mysqlconnector://{username}:{password}@{host}/{database}'
engine = create_engine(connection_string)
df_orders.to_sql('orders', con=engine, index=False, if_exists='append')
df_products.to_sql('products', con=engine, index=False, if_exists='append')

9993

# Creating the Stream lit App to display the analysis

In [3]:
pip install streamlit_option_menu

Collecting streamlit_option_menu
  Downloading streamlit_option_menu-0.4.0-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: streamlit>=1.36 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit_option_menu) (1.37.1)
Requirement already satisfied: altair<6,>=4.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (5.0.1)
Requirement already satisfied: blinker<2,>=1.0.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (1.6.2)
Requirement already satisfied: cachetools<6,>=4.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (8.1.7)
Requirement already satisfied: numpy<3,>=1.20 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (1.26.4)
Requirement already satisfied: packaging<25,>=20 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (24.1)
Requirement already satisfied: pandas<3,>=1.3.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (2.2.2)
Requirement already satisfied: pillow<11,>=7.1.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (10.4.0)
Requirement already satisfied: protobuf<6,>=3.20 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (4.25.3)
Requirement already satisfied: pyarrow>=7.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (16.1.0)
Requirement already satisfied: requests<3,>=2.27 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (2.32.3)
Requirement already satisfied: rich<14,>=10.14.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (13.7.1)
Requirement already satisfied: tenacity<9,>=8.1.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (8.2.3)
Requirement already satisfied: toml<2,>=0.10.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (0.10.2)
Requirement already satisfied: typing-extensions<5,>=4.3.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (4.11.0)
Requirement already satisfied: gitpython!=3.1.19,<4,>=3.0.7 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (3.1.43)
Requirement already satisfied: pydeck<1,>=0.8.0b4 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (0.8.0)
Requirement already satisfied: tornado<7,>=6.0.3 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (6.4.1)
Requirement already satisfied: watchdog<5,>=2.1.5 in c:\users\sathyajith\anaconda3\lib\site-packages (from streamlit>=1.36->streamlit_option_menu) (4.0.1)
Requirement already satisfied: jinja2 in c:\users\sathyajith\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (3.1.4)
Requirement already satisfied: jsonschema>=3.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (4.23.0)
Requirement already satisfied: toolz in c:\users\sathyajith\anaconda3\lib\site-packages (from altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (0.12.0)
Requirement already satisfied: colorama in c:\users\sathyajith\anaconda3\lib\site-packages (from click<9,>=7.0->streamlit>=1.36->streamlit_option_menu) (0.4.6)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.36->streamlit_option_menu) (4.0.7)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sathyajith\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=1.36->streamlit_option_menu) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=1.36->streamlit_option_menu) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sathyajith\anaconda3\lib\site-packages (from pandas<3,>=1.3.0->streamlit>=1.36->streamlit_option_menu) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sathyajith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit_option_menu) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sathyajith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit_option_menu) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit_option_menu) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sathyajith\anaconda3\lib\site-packages (from requests<3,>=2.27->streamlit>=1.36->streamlit_option_menu) (2024.8.30)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit>=1.36->streamlit_option_menu) (2.2.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from rich<14,>=10.14.0->streamlit>=1.36->streamlit_option_menu) (2.15.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19,<4,>=3.0.7->streamlit>=1.36->streamlit_option_menu) (4.0.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from jinja2->altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (2.1.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\sathyajith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (23.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\sathyajith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (2023.7.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\sathyajith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (0.30.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from jsonschema>=3.0->altair<6,>=4.0->streamlit>=1.36->streamlit_option_menu) (0.10.6)
Requirement already satisfied: mdurl~=0.1 in c:\users\sathyajith\anaconda3\lib\site-packages (from markdown-it-py>=2.2.0->rich<14,>=10.14.0->streamlit>=1.36->streamlit_option_menu) (0.1.0)
Requirement already satisfied: six>=1.5 in c:\users\sathyajith\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas<3,>=1.3.0->streamlit>=1.36->streamlit_option_menu) (1.16.0)
Downloading streamlit_option_menu-0.4.0-py3-none-any.whl (829 kB)
   ---------------------------------------- 0.0/829.3 kB ? eta -:--:--
   ------------ --------------------------- 262.1/829.3 kB ? eta -:--:--
   ------------------------------------- -- 786.4/829.3 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 829.3/829.3 kB 2.0 MB/s eta 0:00:00
Installing collected packages: streamlit_option_menu
Successfully installed streamlit_option_menu-0.4.0
Note: you may need to restart the kernel to use updated packages.

In [18]:
%%writefile retail.py
# importing necessary package
import streamlit as st
import mysql.connector as m
from streamlit_option_menu import option_menu
import pandas as pd
import matplotlib.pyplot as plt

# setting layout for the app
st.title("Retail Order Analysis")

# creating a side bar for haing menus
with st.sidebar:
    selected = option_menu(
        menu_title = "Menu",
        options = ["Data Summary","Data Analysis"],
    )

# Defining layout and control for Data Summary page
if selected == "Data Summary":
    st.subheader("Data Summary")
    df = pd.read_csv("orders.csv.zip",compression = 'zip',encoding='utf-8',header=0)
    st.write(df.head(20))

# Defining layout and control for Data Analysis page
elif selected == "Data Analysis":
# connecting mysql server with python
    mydb = m.connect(
    host = "localhost",
    user = "root",
    password = "sathya",
    auth_plugin = "mysql_native_passwprd"
)

    mycursor = mydb.cursor()

    mycursor.execute("use Retail_Order")

#Creating two tabs in Data summary page, one for displaying mentor's query and another for displaying student's query
    mentor,student = st.tabs(["Mentor Query","Student Query"])

# Defining operations to be performed in mentor's query tab
    with mentor:
# Collected all queries and stored in a dictionary
        queries = {"Find top 10 highest revenue generating products":"select Product_Id, sum(Sale_Price) as sale from products group by Product_Id order by sale desc limit 10",
                   "Find the top 5 cities with the highest profit margins":"select o.City, sum(p.Profit) as total_profit from orders as o inner join products as p on o.Order_Id = p.Order_Id group by City order by total_profit desc limit 5",
                   "Calculate the total discount given for each category":"select Category , sum(Discount) as total_discount from products group by category",
                   "Find the average sale price per product category":"select Category, avg(Sale_Price) as avg_SP from products group by category",
                   "Find the region with the highest average sale price":"select o.Region, avg(p.Sale_Price) as avg_SP from orders as o inner join products as p on o.Order_Id = p.Order_Id group by Region order by avg_SP desc limit 1",
                   "Find the total profit per category":"select Category , sum(Profit) as total_profit from products group by category",
                   "Identify the top 3 segments with the highest quantity of orders":"select o.Segment, sum(p.Quantity) as total_quantity from orders as o inner join products as p on o.Order_Id = p.Order_Id group by Segment order by total_quantity desc limit 3",
                   "Determine the average discount percentage given per region":"select o.region, avg(p.Discount_Percent) as avg_Discount from orders as o inner join products as p on o.Order_Id = p.Order_Id group by Region",
                   "Find the product category with the highest total profit":"select category, sum(profit) as total_profit from products group by category order by total_profit desc limit 1",
                   "Calculate the total revenue generated per year":"select year(o.Order_Date) as year, sum(p.Profit) as total_revenue from orders as o inner join products as p on o.Order_Id = p.Order_Id group by year(Order_Date) order by year"
                  }
# Creating a selectbox with a list of all queries in the dictionary
        option = st.selectbox("Choose a query for analysis", list(queries.keys()),index=None)
        if option != None:
# executing the queries
            mycursor.execute(queries[option])
            data = mycursor.fetchall()
# converting the fetched result into a data frame and passing the data frame to web app
            df = pd.DataFrame(data, columns=[x[0] for x in mycursor.description])
            st.write(df)
# Creating line and pie charts based on the scenarios
            if option in ["Find top 10 highest revenue generating products","Find the top 5 cities with the highest profit margins"]:
                st.line_chart(df,x=df.columns[0],y=df.columns[1])
            elif option in ["Find the average sale price per product category","Calculate the total discount given for each category","Find the total profit per category","Identify the top 3 segments with the highest quantity of orders"]:
                fig,ax = plt.subplots()
                ax.pie(df[df.columns[1]], labels= df[df.columns[0]], autopct="%1.1f%%")
                ax.axis('equal')
                st.pyplot(fig)

#Defining operations to be performed in student query tab
    with student:

# Collected student's queries and stored in a dictionary
        
        queries = {
                   "Calculate total revenue generated by each product category over last 6 months" : """select p.Category, sum(p.Sale_Price) as total_revenue_for_last_6_months from orders as o inner join products as p on o.Order_Id = p.Order_Id where o.Order_Date >= (select max(Order_Date) from orders) - interval 6 month group by Category order by total_revenue_for_last_6_months desc""",
                   "Find 5 most popular products" : """select Sub_Category, sum(Quantity) as total_order_count from products group by Sub_Category order by total_order_count desc limit 5""",
                   "Calculate total no.of orders and revenue generated for each month" : """select month(o.Order_Date) as month, count(o.Order_Id) as order_count , sum(p.Sale_Price) as total_revenue from orders as o inner join products as p on o.Order_Id = p.Order_Id where o.Order_Date>= "2023-01-01" and o.Order_Date < "2024-01-01" group by month(o.Order_Date) order by month""",
                   "Find the time of the year with highest sales volume" : """select o.Order_Date, sum(p.Sale_Price) as Sale_price from orders as o inner join products as p on o.Order_Id = p.Order_Id group by Order_date order by Sale_price desc limit 3""",
            "Find the average quantity of products sold per order id" : """select o.Order_Id, avg(p.Quantity) as Avg_Quantity from orders as o inner join products as p on o.Order_Id = p.Order_Id group by Order_Id""",
        "Quantity of products sold under each category per year" : """select year(o.Order_Date) as year, p.category , count(p.Category) as product , sum(p.Quantity) as sold_units from orders as o inner join products as p on o.Order_Id = p.Order_Id group by year, p.Category order by year""", 
                "Find most used shipment mode" : """select Ship_Mode, count(Order_Id)as order_count from orders group by Ship_Mode order by order_count desc""",
                "Find Shipment mode which gives highest profit" : """select o.Ship_Mode, sum(p.Profit) as total_profit from orders as o inner join products as p on o.Order_Id = p.Order_Id group by Ship_Mode order by total_profit desc limit 3""",
                "Find average order value for each day of the week" : """select dayname(o.Order_Date) as day_of_week, sum(p.Sale_Price) as avg_sale from orders as o inner join products as p on o.Order_Id = p.Order_Id group by day_of_week order by avg_sale desc""",
                   "Popular product sold in each state" : """WITH RankedProducts AS (
    SELECT 
        o.State,
        p.Sub_Category as product,
        COUNT(p.Sub_Category) AS product_count,
        ROW_NUMBER() OVER (PARTITION BY o.State ORDER BY COUNT(p.Sub_Category) DESC) AS ranks
    FROM 
        orders o
    JOIN 
        products p ON o.Order_Id = p.Order_Id
    GROUP BY 
        o.State, p.Sub_Category
)
SELECT 
    State,
    product,
    product_count
FROM 
    RankedProducts
WHERE 
    ranks = 1
ORDER BY 
    State"""
        }
# Creating a selectbox with a list of all queries in the dictionary
        option = st.selectbox("Choose a query for analysis", list(queries.keys()),index=None)
        if option != None:
# executing the queries
            mycursor.execute(queries[option])
            data = mycursor.fetchall()
# converting the fetched result into a data frame and passing the data frame to web app
            df = pd.DataFrame(data, columns=[x[0] for x in mycursor.description])
            st.write(df)
# Creating line and pie charts based on the scenarios
        if option in ["Calculate total revenue generated by each product category over last 6 months","Find most used shipment mode"]:
                st.line_chart(df,x=df.columns[0],y=df.columns[1])
        elif option in ["Find Shipment mode which gives highest profit","Find average order value for each day of the week"]:
                fig,ax = plt.subplots()
                ax.pie(df[df.columns[1]], labels= df[df.columns[0]], autopct="%1.1f%%")
                ax.axis('equal')
                st.pyplot(fig)
# Closing the msql connection with python
    mycursor.close()
    mydb.close()

Overwriting retail.py